.basket
	.container.container_basket
		h2.basket__title Корзина 
			span.basket__title_num 12


		p.basket__content Организуйте тендер между выбранными компаниями. Приглашайте компании в новый или текущий тендер в один клик. Отобранные компании хранятся по отдельным вкладкам.