.tags
	.container
		ul.tags__list
			li.tags__item.tags__item_active
				span.tags__text Разработка сайтов
				span.tags__num 7
				
			li.tags__item
				span.tags__text Поисковая оптимизация 
				span.tags__num 3
				
			li.tags__item
				span.tags__text Разработка приложений
				span.tags__num 5
				
			li.tags__item
				span.tags__text Контекстная реклама
				span.tags__num 0
				
			li.tags__item
				span.tags__text Маркетинг, SMM, PR
				span.tags__num 0